.rsk2a_top5req {
  background-color: #e6ebef;
  color: #0062af;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: 5px 0px 20px 10px;
  cursor: pointer;
}
.rsk2a_d1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px 10px 3px;
  /* margin: 0 0 0 5px; */
  cursor: pointer;
  font-size: 12px;
  color: #0062af;
  font-weight: bolder;
}
.rsk2a_d1:hover {
  background-color: #e5ebef;
}
.rsk2a_label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.rsk2a_line {
  height: 1px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  flex-grow: 0.8;
}
.rsk2a_icon {
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  color: #6687a0;
}
.rsk2a_expanded {
  color: #333333;
  width: auto;
  font-size: 12px;
  padding: 0 2px;
}
.rsk2a_dwnld {
  background-color: #e6ebef;
  color: #0062af;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: 5px 0px 20px 0px;
  cursor: pointer;
}
.rsk2a_dwnld:hover {
  background-color: antiquewhite;
}
.rsk2a_csvdwn {
  cursor: pointer;
  padding: 3px 3px 3px 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.csvdwn_indside1 {
  font-size: 14px;
  height: 14px;
  display: flex;
  align-items: center;
}
.csvdwn_indside2 {
  font-size: 11px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 11px;
}
.csvdwn_indside3 {
  font-size: 11px;
  height: 11px;
  color: #0062af;
}
.rsk2a_csvdwn:hover {
  background-color: #e5ebef;
}
.rsk2a_comp {
  color: #b9b9b9;
}
