.bar2a_d1 {
  margin: 0 0 10px 0;
  background-color: #ffffff;
  border-radius: 15px;
  width: 230px;
}
.bar2a_d2 {
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
}
.bar2a_d2:hover {
  background-color: #f1f1f1;
}
.bar2a_lbl {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 800;
  margin: 0 0 0 15px;
}
.bar2a_icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 15px 0 0;
  color: black;
}
.bar2a_exp {
  background-color: #ffffff;
  font-size: 12px;
  padding: 13.5px 10px 13.5px 10px;
  border-radius: 15px;
}
.bar2a_exp_x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar2a_line {
  height: 1px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
}
.bar2a_yr {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  font-size: 13px;
  font-weight: bold;
}
