.rsrch_accitem {
  /* width: 230px;
  height: 45px; */

  margin: 20px 0 0 0;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.rsrch_d1 {
  width: 230px;
  height: 45px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.rsrch_d1_expanded {
  height: 112px;
  flex-direction: column;
}
.rsrch_d2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  background-color: #ffffff;
  height: 45px;
  border-radius: 15px;
}
.rsrch_d2:hover {
  background-color: #e5ebef;
}
.rsrch_lbl {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 0 0 15px;
}
.rsrch_icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 15px 0 0;
}
.rsrch_expanded {
  background-color: #ffffff;
  /* color: #333333; */
  /* width: auto; */
  font-size: 12px;
  padding: 0 2px;
}

.rsrch_srch {
  display: flex;
}
.srchbttn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.srchbttn:hover {
  background-color: gray;
}
.rsrch_drpd {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  max-height: 100px;
  overflow-y: auto;
}
.rsrch_drpd:empty {
  border: none;
}
.rsrch_drpd_row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}
