.left_column {
  position: fixed;
  background-color: #0062af; /* #003762 */
  z-index: 2;
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
}
.left_column:hover {
  width: 250px;
}
.left_column a {
  display: flex;
  font-size: 17px;
  line-height: 72px;
  text-decoration: none;
  color: white;
}
.left_column img {
  text-decoration: none;
  width: 32px;
  height: 32px;
  margin: 20px 0px 20px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 5.2px;
}

.titleline {
  width: 100%;
  height: 1px;
  background-color: #00457c;
  margin: 0 0 12px 0;
}

.riskBT,
.propBT {
  color: #fcfcfd;
  height: 45px;
  display: flex;
  cursor: pointer;
  font-size: 15px;
  line-height: 45px;
  align-items: center;
}
.riskBT:hover,
.propBT:hover {
  background-color: #0083ea;
}
.riskBT.active {
  background-color: #0083ea;
}
.propBT.active {
  background-color: #0083ea;
}
.topicons {
  width: 23px;
  height: 23px;
  margin: 0 0 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charticon {
  width: 100%;
  height: 100%;
}
.roadicon {
  width: 70%;
  height: 70%;
}
.hvd_title {
  display: none;
  margin: 0 0 0 13px;
  font-weight: bold;
}
.left_column:hover .hvd_title {
  display: block;
}
.hvd {
  display: none;
  margin: 0 0 0 17px;
  font-weight: bold;
}
.left_column:hover .hvd {
  display: block;
}

.filter {
  color: #fcfcfd;
  height: 45px;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  position: absolute;
  bottom: 95px;
  width: 100%;
}
.bottom_cont {
  display: flex;
  margin: 0 7px 0 7px;
  width: 100%;
  border-radius: 5px;
  height: 36px;
  align-items: center;
}
.bottom_cont.active {
  background-color: #6687a0;
}
.bottom_cont:hover {
  background-color: #6687a0;
  opacity: 80%;
}
.bottomicons {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 6.5px;
}
.filtericon {
  width: 70%;
  height: 70%;
}
.hvd_bottom {
  display: none;
  margin: 0 0 0 17px;
}
.left_column:hover .hvd_bottom {
  display: block;
}

.search {
  color: #fcfcfd;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.searchicon {
  width: 70%;
  height: 70%;
}

.guide {
  color: #fcfcfd;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.guideicon {
  width: 85%;
  height: 85%;
}

.detail_div {
  position: fixed;
  background-color: #fcfcfd;
  opacity: 1;
  left: 45px;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 220px;
  align-items: center;
  border-right: solid transparent 3px;
  border-image: linear-gradient(to right, #b3b3b3, transparent) 1 100%;
  overflow: hidden;
}

.accordion_div {
  width: 100%;
  color: #333333;
  font-size: 12pt;
  font-weight: bold;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.info {
  display: block;
  width: 85%;
}

.info > p {
  font-size: 0.8rem;
}

.info_button:hover {
  opacity: 0.5;
}

.info_button_div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.prep {
  padding: 0.75rem;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
}

.footnote {
  font-size: 8px;
  color: #cccccc;
  padding: 20px;
}

.fnt {
  font-weight: 900;
  color: #003762;
  font-size: 9px;
}

.roadNo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: solid #cccccc 1px;
  margin: 10px;
  color: #cccccc;
}
/* 
.roadNo div {
  color: #808080;
  font-size: 8pt;
}

.roadNo:hover {
  background-color: #e5fcf6;
}
.selectRoad {
  width: 180px;
  margin: 10px;
  font-size: 8pt;
  padding: 5px;
  border-bottom: solid #cccccc 1px;
  border-radius: 0% !important;
}
.css-13cymwt-control {
  border-radius: 0px !important;
}

.css-t3ipsp-control {
  border-radius: 0px !important;
  border-color: #cccccc;
}

.css-t3ipsp-control:hover {
  border-color: #cccccc !important;
  background-color: #e5fcf6 !important;
  box-shadow: 0 0 0 1px #e5fcf6;
}

.css-t3ipsp-control:active {
  border-color: #cccccc !important;
}

.css-10wo9uf-option:hover {
  background-color: #e5fcf6 !important;
} */

/* .guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  color: white;
  border-radius: 10%;
} */

/* .guide:hover {
  background-color: #e5ebef;
  cursor: pointer;
} */

/* .guide2 {
  display: none;
  position: fixed;
  left: 25px;
  bottom: 50px;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  font-size: 10pt;
  color: #808080;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
} */

/* .guide:hover + .guide2 {
  display: block;
} */
