.tbl4_cont {
  width: 80%;
  /* width: calc(100% - 537px); */
  /* margin-left: 270px; */
  /* margin-right: 265px; */
  padding: 10px;
  box-sizing: border-box;
  /* bottom: 0px; */
  /* position: fixed; */
  z-index: 4;
  background-color: white;
  border-radius: 15px;
  /* height: 5%; */
  overflow-y: auto;
}
/* .tbl4_cont_extend2 {
    height: 25%;
  }
  .tbl4_cont_extend3 {
    height: 65%;
  } */
.tbl4_cont_x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbl4_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}
.tbl4_head1 {
  font-size: 17px;
  font-weight: 900;
  background-color: #c2c2c2;
  padding: 10px 100px;
  border-radius: 5px 5px 5px 5px;
}
.tbl4_head2 {
  width: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 800;
  text-decoration: underline;
}
.tbl4_save {
  margin: 0 3px 0 0;
}
.tbl4_edit:hover,
.tbl4_save:hover {
  cursor: pointer;
  color: #0062af;
}

.tbl4 {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  /* border-top: 3px solid #ddd; */
  /* border-bottom: 3px solid #ddd; */
}
.tbl4 tr {
  display: grid;
  grid-template-columns: 100px 100px 1fr 200px 200px;
}
.tbl4_th_top {
  /* border-top: 3px solid #ddd;1 */
  /* border-bottom: 3px solid #ddd; */
  height: 30px;
  font-size: 12px;
  font-weight: 800;
  background-color: #c2c2c2;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbl4_th_prp {
  background-color: #7070704d;
  border-bottom: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.tbl4_th_rend {
  border-right: none;
}
.tbl4_td {
  border-bottom: 1px solid #a6a6a6;
  /* border-left: 1px solid #a6a6a6; */
  border-right: 1px solid #a6a6a6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 7px 7px 7px;
  height: 15px;
}
.tbl4_dwl {
  margin: 0 15px 0 0;
}
.tbl4_dwl:hover {
  cursor: pointer;
  color: #0062af;
}
.tbl4_look {
  margin: 0 15px 0 0;
}
.tbl4_look:hover {
  cursor: pointer;
  color: #0062af;
}
.tbl4_del {
  margin: 0 15px 0 0;
}
.tbl4_del:hover {
  cursor: pointer;
  color: #0062af;
}
/* unique case */
.tbl4_4 tr {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.tbl4_td_rend {
  border-right: none;
}
.tbl4_tr_top {
  border-top: 2px solid #7d7d7d;
}
.tbl4_tr_bottom {
  border-bottom: 2px solid #7d7d7d;
}
.tbl4_tr_bottom th,
.tbl4_tr_bottom td {
  border-bottom: none;
}
.tbl4_td_acc {
  display: flex;
  flex-direction: column;
}
.tbl4_td_acc_inputwrap2 {
  margin: 5px 0 0 0;
}

/* text_input */
.tbl4_text_input1 {
  width: 150px;
  text-align: center;
}

/* num_input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  text-align: center;
  -moz-appearance: textfield; /* Firefox */
}
.tbl4_num_input1,
.tbl4_num_input2,
.tbl4_num_input3 {
  margin: 0 5px 0 5px;
}
.tbl4_num_input1 {
  width: 70px;
}
.tbl4_num_input2 {
  width: 30px;
}
.tbl4_num_input3 {
  width: 40px;
}
.tbl4_num_input_txt {
  margin: 0 5px 0 0;
}

/* rdo */
.tbl4_rdo1,
.tbl4_rdo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbl4_rdo2 {
  margin: 0 0 0 25px;
}
.tbl4_rdo1:hover,
.tbl4_rdo2:hover {
  cursor: pointer;
  background-color: #dbdbdb;
  border-radius: 7px;
}
.tbl4_rdo_input {
  font-size: 10px;
  margin: 0 3px 1px 5px;
  color: red;
  /* display: none; */
}
.tbl4_rdo_input:hover {
  cursor: pointer;
}
.tbl4_rdo_txt {
  line-height: 2;
  margin: 0 5px 0 0;
}
.tbl4_rdo_num_input2 {
  width: 30px;
  margin: 0 5px 0 5px;
}

/* separate */
.tbl4_separate {
  height: 7px;
}
/* angles */
.tbl4_angles {
  width: 40px;
  transform: scaleX(1.4);
  font-size: 20px;
  animation: bounce2 1s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbl4_angles:hover {
  cursor: pointer;
  color: #0062af;
}
@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0) scaleX(1.4);
  }
  50% {
    transform: translateY(-5px) scaleX(1.4);
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* font-size: 12px; */
}

.pagination button {
  background-color: #cccccc;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 13px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0062af;
}

.pagination span {
  margin: 0 10px;
  font-size: 13px;
}
